.header {
  border: 1px solid black;
}
.card {
  width: 400px;
  border: 1px solid rgb(219, 216, 216);
  padding: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin: 10px;
}
.card:hover {
  border: 1px solid black;
}
.resContainer {
  display: flex;
  flex-wrap: wrap;
}
.cardImg {
  margin-left: 8px;
  margin-top: 5px;
  width: 380px;
}
.logo {
  height: 200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.list {
  display: flex;
  align-items: center;
  font-size: x-large;
}
ul > li {
  list-style: none;
  padding: 10px;
}
