.header {
  border: 1px solid black;
}
.card {
  width: 400px;
  height: 460px;
  border: 1px solid rgb(219, 216, 216);
  padding: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  margin: 10px;
}
.card:hover {
  border: 1px solid black;
}
.resContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardImg {
  margin-left: 8px;
  margin-top: 5px;
  width: 380px;
  height: 250px;
  object-position: 10%;
  object-fit: cover;
}
.logo {
  height: 200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.list {
  display: flex;
  align-items: center;
  font-size: x-large;
}
ul > li {
  list-style: none;
  padding: 10px;
  font-size: xx-large;
}

.shimmer-card {
  width: 400px;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
  background-color: #f0f0f0;
  margin: 10px;
  height: 460px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn-login {
  padding: 0 20px;
  font-size: x-large;
  cursor: pointer;
}
